<div class="forgot-container">
  <app-header titulo="Recuperação de senha" (voltarEvent)="voltar()" />

  <div class="content">
    <p class="subtitulo">Vamos te ajudar a recuperar sua senha</p>

    @if (etapa === 1) {
      <label>Digite o e-mail que você já cadastrou</label>
      <input type="email" placeholder="Digite seu e-mail" [(ngModel)]="enteredEmail" name="email" class="inputts">

      @if (emailInvalido) {
        <p class="error-message">O e-mail é obrigatório!</p>
      }

      <app-button texto="Enviar" tipo="primary" posicao="sticky" (clickEvent)="enviarEmail()"></app-button>
    }

    @if (etapa === 2) {
      <app-code-input
        instrucao="Digite o código enviado no seu e-mail"
        [mostrarReenviar]="true"
        (codigoVerificado)="enviarCodigo($event)"
        (reenviarEvent)="enviarEmail()"
      />
    }

    @if (etapa === 3) {
      <div class="field">
        <label>Nova senha</label>
        <input type="password" placeholder="Digite sua nova senha" [(ngModel)]="enteredNewPass" name="newpass" class="inputts">

        @if (passInvalido) {
          <p class="error-message">A senha é obrigatória!</p>
        }
      </div>

      <div class="field">
        <label>Repetir senha</label>
        <input type="password" placeholder="Repita a mesma senha de cima" [(ngModel)]="enteredConfirmPass" name="confirmpass" class="inputts">

        @if (confirmPassInvalido) {
          <p class="error-message">Confirme sua senha!</p>
        }
        @if (passwordsDontMatch) {
          <p class="error-message">As senhas não são iguais!</p>
        }
      </div>

      <app-button texto="Pronto" tipo="primary" posicao="sticky" (clickEvent)="novaSenha()"></app-button>
    }
  </div>
</div>
