<div class="form-container">
  <app-header titulo="Cadastro motorista" (voltarEvent)="voltar()" />

  <form class="form" (ngSubmit)="signup()">
    <div class="field">
      <label>Nome do motorista</label>
      <input type="text" placeholder="Digite seu nome" [(ngModel)]="enteredName" name="name" appNameFormat />

      @if (nameInvalido) {
        <p class="error-message">O nome é obrigatório!</p>
      }
    </div>

    <div class="field">
      <label>E-mail do motorista</label>
      <input
        type="email"
        placeholder="Digite seu e-mail"
        [(ngModel)]="enteredEmail"
        name="email"
      />

      @if (emailInvalido) {
        <p class="error-message">O e-mail é obrigatório!</p>
      }
    </div>

    <div class="field">
      <label>Telefone do motorista</label>
      <input type="text" placeholder="(11) 99999-9999" [(ngModel)]="enteredPhone" name="phone" appPhoneMask />

      @if (phoneInvalido) {
        <p class="error-message">O telefone é obrigatório!</p>
      }
    </div>

    <div class="field">
      <label>Senha</label>
      <input
        type="password"
        placeholder="Digite sua senha"
        [(ngModel)]="enteredPass"
        name="password"
      />

      @if (passInvalido) {
        <p class="error-message">A senha é obrigatória!</p>
      }
    </div>

    <div class="field">
      <label>Confirmar senha</label>
      <input
        type="password"
        placeholder="Digite a senha novamente"
        [(ngModel)]="enteredConfirmPass"
        name="confirmPassword"
      />

      @if (confirmPassInvalido) {
        <p class="error-message">Confirme sua senha!</p>
      }
      @if (passwordsDontMatch) {
        <p class="error-message">As senhas não coincidem!</p>
      }
    </div>

    <app-button
      texto="Finalizar cadastro"
      tipo="primary"
      posicao="bottom"
      type="submit">
    </app-button>
  </form>
</div>
