@if (!mostrarCodigo) {

  @if (tipoUsuario === 'motorista') {
    @if (etapa === 'cnh') {
      <app-signup-cnh-form
        (prontoEvent)="irParaDriver()"
        (voltarEvent)="voltar()" />
    }

    @if (etapa === 'driver') {
      <app-signup-driver
        (cadastroConcluidoEvent)="mostrarTelaCodigo($event)"
        (voltarEvent)="voltar()" />
    }

  }

  @if (tipoUsuario === 'responsavel') {
    <app-signup-responsible
      (cadastroConcluidoEvent)="mostrarTelaCodigo($event)"
      (voltarEvent)="voltar()" />
  }

}

@if (mostrarCodigo) {
  <app-email-code
    [email]="email"
    (verificadoEvent)="concluirCadastro()" />
}
