<div class="profile-container">
  <app-header titulo="Informações do perfil" (voltarEvent)="voltar()" />

  <div class="profile-wrapper">
    <div class="avatar-container">
      <img [src]="usuario?.photoUrl || '/testee.jpg'" class="avatar-grande" alt="Foto do usuário">
    </div>

    <div class="hero">
      <div class="hero-label">Informações pessoais</div>
    </div>

    <div class="body-white">
      <div class="info-card">
        @if (!modoEdicao) {
          <div class="field">
            <input type="text" [(ngModel)]="usuario.name" placeholder="Nome completo" name="name" readonly>
          </div>

          <div class="field">
            <input type="text" [(ngModel)]="usuario.document" placeholder="CPF/Documento" name="document" readonly>
          </div>

          <div class="field">
            <input type="email" [(ngModel)]="usuario.email" placeholder="E-mail" name="email" readonly>
          </div>

          <div class="field">
            <input type="text" [(ngModel)]="usuario.phone" placeholder="Telefone" name="phone" readonly>
          </div>

          <div class="field">
            <input type="text" [(ngModel)]="usuario.address" placeholder="Endereço" name="address" readonly>
          </div>
        }

        @if (modoEdicao) {
          <div class="field">
            <input type="email" [(ngModel)]="enteredEmail" placeholder="E-mail" name="email">
          </div>

          <div class="field">
            <input type="text" [(ngModel)]="enteredPhone" placeholder="Telefone" name="phone">
          </div>
        }
      </div>

      <div class="btn-area">
        @if (!modoEdicao) {
          <button class="btn-primary" (click)="editar()">Editar</button>
        }

        @if (modoEdicao) {
          <button class="btn-primary" (click)="salvar()">Salvar</button>
          <button class="btn-secondary" (click)="cancelar()">Cancelar</button>
        }
      </div>
    </div>
  </div>
</div>
