<div class="code-wrapper">
  <p class="instrucao">{{ instrucao }}</p>

  <div class="inputs">
    @for (code of codes; track $index) {
      <input
        class="code-input"
        type="text"
        maxlength="1"
        [(ngModel)]="codes[$index]"
        (input)="onInput($event, $index)"
        (keydown)="onKeydown($event, $index)"
        [name]="'code' + $index"
      />
    }
  </div>

  @if (invalido) {
    <p class="error-message">Digite todos os {{ length }} dígitos!</p>
  }

  <div class="botoes">
    <button class="btn-verificar" (click)="verificar()">{{ textoBotao }}</button>
    @if (mostrarReenviar) {
      <button class="btn-reenviar" (click)="reenviar()">Reenviar código</button>
    }
  </div>
</div>
