<div class="forgot-container">

  <div class="header">
    <button class="back-button" (click)="voltar()">
      <img src="/Back.png" alt="">
    </button>
    <h1>Esqueci minha senha</h1>
  </div>

  <div class="content">
    <p class="subtitulo">Vamos te ajudar a recuperar sua senha</p>

    @if (etapa === 1) {
      <label>Digite o email que voce ja cadastrou</label>
      <input type="email" placeholder="Digite seu email" [(ngModel)]="enteredEmail" name="email" class="inputts">
      @if (emailInvalido) {
        <p class="error-message">O email e obrigatorio!</p>
      }
      <button class="btn-primary" (click)="enviarEmail()">Enviar</button>
    }

    @if (etapa === 2) {


      <div class="inputs">
        <input class="code-input" type="text" maxlength="1" (input)="onInput($event, 0)" (keydown)="onKeydown($event, 0)" />
        <input class="code-input" type="text" maxlength="1" (input)="onInput($event, 1)" (keydown)="onKeydown($event, 1)" />
        <input class="code-input" type="text" maxlength="1" (input)="onInput($event, 2)" (keydown)="onKeydown($event, 2)" />
        <input class="code-input" type="text" maxlength="1" (input)="onInput($event, 3)" (keydown)="onKeydown($event, 3)" />
        <input class="code-input" type="text" maxlength="1" (input)="onInput($event, 4)" (keydown)="onKeydown($event, 4)" />
        <input class="code-input" type="text" maxlength="1" (input)="onInput($event, 5)" (keydown)="onKeydown($event, 5)" />
      </div>

      @if (codeInvalido) {
        <p class="error-message">O codigo e obrigatorio!</p>
      }

      <button class="btn-primary" (click)="enviarCodigo()">Enviar</button>
      <button class="btn-secondary" (click)="enviarEmail()">Re-enviar codigo</button>
    }

    @if (etapa === 3) {
      <div class="field">
        <label>Nova senha</label>
        <input type="password" placeholder="Digite sua nova senha" [(ngModel)]="enteredNewPass" name="newpass" class="inputts">
        @if (passInvalido) {
          <p class="error-message">A senha e obrigatoria!</p>
        }
      </div>
      <div class="field">
        <label>Repetir senha</label>
        <input type="password" placeholder="Repita a mesma senha de cima" [(ngModel)]="enteredConfirmPass" name="confirmpass" class="inputts">
        @if (confirmPassInvalido) {
          <p class="error-message">Confirme sua senha!</p>
        }
        @if (passwordsDontMatch) {
          <p class="error-message">As senhas nao sao iguais!</p>
        }
      </div>
      <button class="btn-primary" (click)="novaSenha()">Pronto</button>
    }
  </div>

</div>
